* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #010101;
}

body {
  background-color: #010101;
}
nav {
  text-align: center;
  margin-bottom: 37px;
}

section {
  height: 782px;
}

.menu_div {
  margin-bottom: 36px;
}

.one_block {
  position: relative;
  height: 782px;
  overflow: hidden;
}

.star_div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 120vw);
  z-index: 1;
}

.star_div svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  z-index: 1;
}

.two_block {
  background-image: url(../image/backgound_two_section.svg)
}

.text_two {
    display: flex;
width: 343.685px;
height: 203.9px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border: 1px solid #000;
background: #FFF;

width: 317.614px;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 100% /* 23px */;
z-index: 1;

position: relative;
left: 907px;
top: 39px;
}

.three_block {
  margin-bottom: 97px;
}

.two_block img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
.description_h1 {
  position: relative;
  z-index: 3;
}

h1 {
  font-family: "TT Alientz Educational Serif";
  font-size: 228px;
  color: #d9d9d9;
  text-align: center;
}

.description_h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 27px;
  color: #d9d9d9;
  text-align: center;
  margin-bottom: 60.75px;
}

.description_h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-align: center;
}


.three_block {
  background-image: url(/image/sharp_pattern_background.svg);
  margin-bottom: 113px;
}

.text-4box {
  font-family: "TT Alientz Educational Serif";
  font-size: 92px;
  color: #dc2508;
  text-align: left;
  margin-left: 35px;
}

.four_block {
  position: relative;

}

.four_block svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.text_four_block {
    width: 511.499px;
color: #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100% /* 14px */;
position: relative;
left: 819px;
top: 49px;
}

.five_block {
  margin-bottom: 195px;
}

.five_block svg {
  width: 100%;
  height: auto;
  display: block;
}


.six_block {
  text-align: center;
}

.six_block img {
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
}

.seven_block img {
  width: 100%;
  height: auto;
  display: block;
}

.text_seven {
color: #FFF;
text-align: center;
font-size: 22.519px;
font-style: normal;
font-weight: 756px;
font-family: "TT Alientz Educational Grotesque";
}

.ruler_box {
  width: 100%;
  display: block;
  text-align: center;
}

.eight_block {
  background-color: #ff0000;
}
