* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #010101;
}

body {
  background-color: #010101;
}
nav {
  text-align: center;
  margin-bottom: 37px;
}

section {
  height: 782px;
}

.menu_div {
  margin-bottom: 36px;
}

.one_block {
  position: relative;
  height: 782px;
  overflow: hidden;
}

.star_div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 120vw);
  z-index: 1;
}

.star_div svg {
  position: absolute;
  left: -25%;
  transform: translateX(-10%);
  transform: translateY(5%);
  top: 60%;
  height: auto;
  z-index: 1;
}

.two_block {
  background: url("../image/backgound_two_section.svg") center / cover no-repeat;
  position: relative;
}

.text_two {
  display: flex;
  width: 343.685px;
  height: 203.9px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;

  width: 317.614px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  top: 39px;
  right: 29px;

  z-index: 2;

  color: rgb(0, 0, 0);
}

.text_three_two_block {
  width: 367.827px;
  height: 119.065px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  left: 30px;
  top: 39px;
}

.three_block {
  margin-bottom: 70px;
}

.two_block img {
  width: 100%;
  height: auto;
  display: block;
}


.description_h1 {
  position: relative;
  z-index: 3;
}

h1 {
  font-family: "TT Alientz Educational Serif";
  font-size: 228px;
  color: #d9d9d9;
  text-align: center;
}

.description_h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 27px;
  color: #d9d9d9;
  text-align: center;
  margin-bottom: 60.75px;
}

.description_h2 {
  font-family: "Inter", sans-serif;
  max-width: 400px;
  font-size: 18px;
  color: #000000;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 281px;
  left: 500px;
}

.description_h2_two {
  color: #000;
  text-align: center;
  font-family: "TT Alientz Educational Serif";
  font-size: 93px;
  font-style: normal;
  position: absolute;

  top: 330px;
  left: 189px;
  z-index: 2;
}

.three_block {
  background-image: url("../image/sharp_pattern_background.svg");
  margin-bottom: 113px;
  text-align: center;
  position: relative;
}


.three_block svg {
  z-index: 1;
  position: absolute;
top: 12%;
left: 29%;
}

h3 {
  font-family: "TT Alientz Educational Serif";
  color: #fff;
  font-size: 40px;
  font-style: normal;
  position: relative;
  left: -500px;
  top: 26px;
  z-index: 2;
}

.three_block_one_text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  max-width: 168px;
  z-index: 2;
  position: absolute;
  left: 661px;
  top: 364px;
}

.three_block_two_text {
  position: absolute;
  top: 229px;
  left: 290px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  max-width: 270px;
  line-height: 100%;
}

.three_block_three_text {
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
max-width: 173px;
position: absolute;
top: 600px;
left: 350px;
}


.text-4box {
  font-family: "TT Alientz Educational Serif";
  font-size: 92px;
  color: #dc2508;
  text-align: left;
  margin-left: 35px;
}

.four_block {
  position: relative;
}

.four_block svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.text_four_block {
  width: 511.499px;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100% /* 14px */;
  position: relative;
  left: 819px;
  top: 49px;
}

.five_block {
  margin-bottom: 195px;
position: relative;
}

.text_one_five_block {
    color: #FFF;
  font-family: "TT Alientz Educational Serif";
font-size: 33.607px;
font-style: normal;
max-width: 285px;
line-height: normal;
position: absolute;
top: 29px;
left: 40px;
}

.text_two_five_block {
        color: #000000;
font-family: "TT Alientz Educational Grotesque";
font-size: 33.607px;
font-style: normal;
max-width: 285px;
text-align: right;
position: absolute;
bottom: 29px;
right: 40px;
}

.five_block svg {
  width: 100%;
  height: auto;
  display: block;
}

.six_block {
  text-align: center;
}

.six_block img {
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
}

.seven_block {
    position: relative;
}

.seven_block img {
  width: 100%;
  height: auto;
  display: block;
}

.text_seven {
  color: #fff;
  text-align: center;
  font-size: 22.519px;
  font-style: normal;
max-width: 514px;
max-height: 240px;
  font-family: "TT Alientz Educational Grotesque";
    position: absolute;
    top: 271px;
    left: 33%;
}

.miranda_png {
    width: 274px;
height: 176px;
aspect-ratio: 137/88;
border: 3px solid #000;
  position: absolute;
  top: 551px;
  left: 580px;
}

.ruler_box {
  width: 100%;
  height: 100%;
  display: inline-block;
 left: 0;
  text-align: center;
  position: absolute;
}

.eight_block {
  background-color: #ff0000;
    overflow: hidden;
}

.pitchforks_eight_block{
    position: relative;
}

.pitchfork_one svg{

fill: #FFF;
position: absolute;
top: 30px;
left: 797px;
}

.pitchfork_two svg{

transform: rotate(30deg);
fill: #FFF;
position: absolute;
top: 291px;
left: 817px;
}

.prickly_man svg{
    width: 782.182px;
height: 1079.29px;
transform: rotate(30deg);
fill: #FFF;

}
